<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To do list</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="container">
        <h1
            class="mb-4 mt-10 text-3xl text-center font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-5xl">
            Your Personal Task Manager</h1>
        <p class="mb-6 text-center text-lg font-normal text-gray-500 lg:text-xl">
            The Profile page is your digital hub, here you can see your profile and also can update
            it and create todo of day by day.</p>

        <div class="align-content center flex justify-center">
            <form action="/user/profile" method="get">
                <button type="submit" class="border-2 p-8 rounded-full cursor-pointer">
                    <i class="fa-regular fa-user fa-2xl"></i>
                </button>
                </a>
            </form>
        </div>
        <p class="text-center">Open your profile</p>

</body>

</html>